/* 
    Document   : content
    Created on : 27 mai 2013, 17:28:44
    Author     : Arthur
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
article a{
    color:#0084B4;
    text-decoration: none;
}
article a:hover{
    text-decoration: underline;
}
body{
    font-family:sans-serif;
}
.button-link {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 50%;
    padding: 5px;
    
    background-color:rgb(192,222,237);
    border-radius: 8px;
}
.button-link a {
    text-decoration: none;
    color: black;
}