/* 
    Document   : content
    Created on : 27 mai 2013, 17:28:44
    Author     : Arthur
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
article a{
    color:#0084B4;
    text-decoration: none;
}
article a:hover{
    text-decoration: underline;
}
body{
    font-family:sans-serif;
}
.button_home {
    margin-top: 10px;
    display: inline-block;
    position: absolute;
    right: 35px;
}
button a {
    text-decoration: none;
    color: black;
}
button a:hover {
    text-decoration: none;
}

.quelques_amis, .dernieres_operations {
    margin-bottom: 50px;
}