/* 
    Document   : nav
    Created on : 27 mai 2013, 15:28:54
    Author     : Arthur
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

nav .nom, nav .solde {
    font-weight:bold;
}
nav .nom{
    color:#0084B4;
    margin-bottom: 2px;
}
nav .email{
    font-size:12px;
    color:rgb(116, 116, 116);
    margin:0;
}

nav .solde{
}

nav a {
    font-style: normal;
    text-decoration: none;
    font-size: 12px;
    color: rgb(116, 116, 116);
    margin: 0;
}

nav .formulaire_virement {
    font-style:italic;
    text-decoration: none;
    font-size: 13px;
}
