/* 
    Document   : style
    Created on : 20 mai 2013, 09:33:02
    Author     : jean-maxime
    Description:
        Purpose of the stylesheet follows.
*/

header {
    width : 100%;
    height: 40px;
    position:absolute;
    padding-left:15%;
    z-index:3;
}

header{
    margin-bottom:5px;
    top:0;
    left:0;
    background-image: url('../images/barre.png');
    box-shadow:0px 1px 1px rgb(35,35,35);
    color : white;
}

footer{
    margin-top:15px;
    bottom:0;
    left:0;
    color:rgb(47,47, 47);
}

body {
    background-image:url('../images/bg.png');
    background-color:rgb(192,222,237);
    background-repeat:no-repeat;
    color:rgb(47,47, 47);
}

#content {
    background-color: rgba(255, 255, 255, 0.4);
    margin-left: 10%;
    margin-top: 40px;
    padding: 10px;
    top: 6%;
    width: 80%;
    min-width: 800px;
    z-index: 1;
}

article, nav {
    display: inline-block;
    vertical-align:top;
    margin:1%;
}

article, nav .module {
    position: relative;
    display:inline-block;
    border-radius:8px;
    border:1px solid #BBCED8;
    min-height:20%;
    word-wrap:break-word;
    background-color:rgb(249, 249, 249);
    padding:9px;
}

nav {
    width:25%;
}
nav .module {
    width: 90%;
    margin-bottom: 15px;
}

article{
    width:68%;
}

/* Gestion du header */
#barreheader{
    position:absolute;
    top:0;
    min-width: 800px;
}


#barre_recherche{
    background-color:rgb(204,204,204);
    border:none;
    box-shadow:0px 1px 1px rgb(35,35,35);
    border-radius:10px;
    height:20px;
    width:150px;
}
#button{
    background-image: url("../images/magnifyingglass.png");
    border:0;
    background-color: 0;
}
header a {
    color : rgb(204,204,204);
    text-decoration:none;
    font-style:normal;
}

header a:hover {
    color : white;
}

header ul {
    display : inline-block;
    width: 350px;
    margin-top:0;
    padding:6px;
}
#barredroite img{
    width:30px;
}
#barregauche li{
    margin-top:3px;
}
header li {
    display : inline-block;
    margin-left:5%;
    margin-right:5%;
    vertical-align:middle;
}


/*Flash*/
.flash {
    background-color:green;
    margin-left:40%;
    top:40px;
    width: 20%;
    text-align: center;
}
#masquer {
     font-weight:bold;     
     margin-left:5px;
     padding-left:1px;
     padding-right:1px;
     text-align:center;
}
#masquer:hover{
    font-weight: bold;
}

