/* 
    Document   : tableau
    Created on : 24 mai 2013, 19:00:06
    Author     : jean-maxime
    Description:
        Purpose of the stylesheet follows.
*/

/* Affichage utilisateurs */
.user-box {
    position: relative;
    border-radius:8px;
    border:1px solid #BBCED8;
    margin-bottom: 10px;
    padding: 5px;
}
.user-box:hover {
    background-color:rgb(192,222,237);
}
.user-box .user-name {
    text-decoration: none;
    color:#0084B4;
    margin-bottom: 2px;
}
.user-box .user-action, .user-box .admin-lock {
    position: absolute;
    right: 10px;
    text-decoration: none;
}


/* Affichage opérations */
table {
    border-radius: 8px;
    border-collapse: collapse;
    width: 100%;
    font-size:12px;
}
table, th, td {
    border: 1px solid rgb(236,236,242);
}
th, td {
    padding: 5px;
    height: 15px;
    text-align: left;
}
th {
    background-color:rgb(192,222,237);
} 

table a {
    text-decoration: none;
    color: black;
}
.clair{
    background-color:rgb(243,243,243);
}
.fonce{
    background-color:rgb(250, 250, 250);
}