/* 
    Document   : style
    Created on : 20 mai 2013, 09:33:02
    Author     : jean-maxime
    Description:
        Purpose of the stylesheet follows.
*/


/* Gestion du header */
.header { 
    position : absolute;
    top : 0;
    left : 0;
    width : 100%;
    height: 40px; 
    color : white;
    background-color: black; 
}
.header #logo {
    display: inline-block;
    margin-left: 15px;
    height : 50px;
    vertical-align : top;
    width : 50px;
}
.header .welcome {
    display: inline-block;
    height : 50px;
    vertical-align : top;
    width : 60%;
    text-align : center;

}
.header a {
    color : white;
    text-decoration: none;
    font-style : italic;
    width : 150px;
    font-style : italic;
}
.header ul {
    display : inline-block;
    height : 50px;
    vertical-align : top;
}
.header li {
    display : inline-block;
    height : 50px;
    vertical-align : top;
}


/* Gestion du footer */
.footer {
    position : relative;
    top : 50px;
    
    border-top : 1px solid grey;
    color : grey;
    font-style : italic;
    text-align : right;
}


/* Gestion du l'article' */
article {
   position : relative;
   top : 50px;
}



/* Page home */
.formulaire_home {
    display : inline-block; /*doesn''t work*/
}
.formulaire_inscription {
    display : inline-block; /*doesn''t work*/
}
